node-red-data/flows.json
[
    {
        "id": "2dca6eed12b296f5",
        "type": "tab",
        "label": "eta-flow-web-api",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7c135e772de0725",
        "type": "tab",
        "label": "eta-sewage-pump-monitor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3824f75aea35a698",
        "type": "group",
        "z": "a7c135e772de0725",
        "name": "web-api",
        "style": {
            "label": true
        },
        "nodes": [
            "74479dcb06e8145c",
            "be8e1b2521c879ee",
            "e207d1a66a7650b9",
            "3858125dbf3d0092",
            "f89e2f3dce998039",
            "197bb63a4e854458",
            "fd86f761136a6f0c",
            "d246a8475b5673ea",
            "54190ad994db7851",
            "912ffc3a037d746c",
            "b9800d78b27085a5",
            "4bd9a2b7d2c29a19",
            "6af9f793cbe7d0bf",
            "323402e3df4b64bc",
            "5cb3165ea305cfd7",
            "8a71ccaa19f8d878"
        ],
        "x": 34,
        "y": 739,
        "w": 812,
        "h": 422
    },
    {
        "id": "32c193548f01777e",
        "type": "group",
        "z": "a7c135e772de0725",
        "name": "activator",
        "style": {
            "label": true
        },
        "nodes": [
            "3254130808eb2f14",
            "a01bf9c6243144ca",
            "755eb2f380e6d505"
        ],
        "x": 34,
        "y": 19,
        "w": 612,
        "h": 82
    },
    {
        "id": "ebdda297932f3f07",
        "type": "group",
        "z": "a7c135e772de0725",
        "name": "remote-device-mediator",
        "style": {
            "label": true
        },
        "nodes": [
            "a59a21eb6b6471bc",
            "f6dc65181c21674e",
            "c30487f20a1f7fc4",
            "762ef4d95887673c",
            "03e587130931a889",
            "2db1e19264fd6a1a",
            "f641c61327d806f0",
            "bfb3e9ec73ddd77c",
            "810cdb0a6cb7cff6",
            "b0025aba6923fd52",
            "30f6276f9e368846",
            "04a22057bd75906f"
        ],
        "x": 34,
        "y": 179,
        "w": 1012,
        "h": 242
    },
    {
        "id": "b74b1a6d538c13c2",
        "type": "group",
        "z": "a7c135e772de0725",
        "name": "persistent-storage-manager",
        "style": {
            "label": true
        },
        "nodes": [
            "443b413283d10c89",
            "abf540bef0e1bad8"
        ],
        "x": 34,
        "y": 459,
        "w": 472,
        "h": 82
    },
    {
        "id": "7f7a985047e86ceb",
        "type": "group",
        "z": "a7c135e772de0725",
        "name": "realtime-ui-communicator",
        "style": {
            "label": true
        },
        "nodes": [
            "3a29c46091b22441",
            "6b9c30909788b5bf",
            "4d65ff37e6d2771a"
        ],
        "x": 34,
        "y": 599,
        "w": 622,
        "h": 82
    },
    {
        "id": "e8c1afd9a301aa03",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.200",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "01aaea51ef13314e",
        "type": "websocket-listener",
        "path": "ws/a7c135e772de0725",
        "wholemsg": "false"
    },
    {
        "id": "cc420d657eea3b6f",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "name": "",
        "url": "/auth/login",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "7fedb0406dc884b3"
            ]
        ]
    },
    {
        "id": "7fedb0406dc884b3",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "name": "signIn",
        "func": "const [http, jwt, { createHash }, { UserDataModel }] = global.get([\"http\", \"jsonwebtoken\", \"crypto\", \"db\"]);\nconst { name, password } = msg.payload;\n\nconst hashedPassword = createHash(\"sha256\").update(password).digest(\"base64\");\n\nconst user = await UserDataModel.findOne({\n    where: {\n        name: name,\n        password: hashedPassword\n    }\n});\n\nif (!user) {\n    msg.statusCode = http.HttpStatusCode.Unauthorized;\n    msg.payload = { error: \"The user wasn't found.\" }\n\n    return msg;\n}\n\nconst JWT_SECRET = env.get('JWT_SECRET');\nif (!JWT_SECRET) {\n    msg.statusCode = http.HttpStatusCode.Forbiden;\n    msg.payload = { error: \"JWT_SECRET wasn't found.\" }\n\n    return msg;\n}\n\nconst token = jwt.sign(\n    { userId: user.id, role: user.roleId },\n    JWT_SECRET,\n    { expiresIn: '24h' }\n);\n\nmsg.statusCode = http.HttpStatusCode.OK;\nmsg.payload = {\n    token,\n    user: {\n        id: user.id,\n        name: user.name,\n        roleId: user.roleId\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "281282e423102908"
            ]
        ]
    },
    {
        "id": "281282e423102908",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "74479dcb06e8145c",
        "type": "http in",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "",
        "url": "/api/get-state/:deviceId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 820,
        "wires": [
            [
                "be8e1b2521c879ee"
            ]
        ]
    },
    {
        "id": "be8e1b2521c879ee",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "getStates",
        "func": "const deviceId = msg.req.params.deviceId;\nconst state = flow.get(`state${deviceId}`);\n\nmsg.payload = { values: state };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [
            [
                "e207d1a66a7650b9",
                "3858125dbf3d0092"
            ]
        ]
    },
    {
        "id": "e207d1a66a7650b9",
        "type": "http response",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "http-get-states-response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 710,
        "y": 820,
        "wires": []
    },
    {
        "id": "3858125dbf3d0092",
        "type": "debug",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 780,
        "wires": []
    },
    {
        "id": "3254130808eb2f14",
        "type": "inject",
        "z": "a7c135e772de0725",
        "g": "32c193548f01777e",
        "name": "onInit",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.01",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "a01bf9c6243144ca"
            ]
        ]
    },
    {
        "id": "a01bf9c6243144ca",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "32c193548f01777e",
        "name": "initState",
        "func": "const { Op } = global.get('sequelize');\nconst { FlowDataModel, DeviceDataModel } = global.get(\"db\");\nconst flowUid = node.path.split('/').find(_=> true);\n\nconst params = [\n    [\n        \"startStop\", \"lowLevel\", \"midLevel\",\n        \"hiLevel\", \"emergencyLevel\", \"statePump1\",\n        \"statePump2\", \"resetFaultPump1\", \"resetFaultPump2\",\n        \"resetOperatingTimePump1\", \"resetOperatingTimePump2\",\n        \"faultPump1\", \"faultPump2\"\n    ],\n    [\n        \"timePump1\",\n        \"timePump2\"\n    ]\n];\nconst initialState = {};\n\nflow.set([\"coilsParams\", \"holdingsParams\"], params);\n\n\nconst devices = await DeviceDataModel.findAll({\n    attributes: ['id'],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        }\n    }]\n});\n\ndevices.forEach(d => {\n    params.forEach(params => {\n        params.forEach((p, i) => {\n            initialState[p] = undefined;\n        });\n    });\n    \n    flow.set(`state${d.id}`, initialState);\n});\n\nmsg.payload = { message: \"OnInit was completed.\" }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 60,
        "wires": [
            [
                "755eb2f380e6d505"
            ]
        ]
    },
    {
        "id": "755eb2f380e6d505",
        "type": "debug",
        "z": "a7c135e772de0725",
        "g": "32c193548f01777e",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "f89e2f3dce998039",
        "type": "http in",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "",
        "url": "/api/get-states-by-dates/:deviceId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 940,
        "wires": [
            [
                "197bb63a4e854458"
            ]
        ]
    },
    {
        "id": "197bb63a4e854458",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "getStatesByDates",
        "func": "const { Op } = global.get(\"sequelize\");\n\nconst beginDateStr = msg.req.query.beginDate;\nconst endDateStr = msg.req.query.endDate;\nconst deviceId = msg.req.params.deviceId;\n\nconst beginDate = new Date(beginDateStr);\nconst endDate = new Date(endDateStr);\n\nconst { DeviceStateDataModel } = global.get(\"db\");\n\n\nconst states = await DeviceStateDataModel.findAll({\n    where: {\n        deviceId: deviceId,\n        createdAt: {\n            [Op.between]: [beginDate, endDate]\n        },\n    },\n});\n\n\nmsg.payload = { values: states };\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 940,
        "wires": [
            [
                "fd86f761136a6f0c",
                "d246a8475b5673ea"
            ]
        ]
    },
    {
        "id": "fd86f761136a6f0c",
        "type": "debug",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 900,
        "wires": []
    },
    {
        "id": "d246a8475b5673ea",
        "type": "http response",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "http-get-states-response",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 940,
        "wires": []
    },
    {
        "id": "a59a21eb6b6471bc",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "buildStatePayload",
        "func": "\nflow.set(\"res\", msg.res);\n\nmsg.payload = {\n    ...msg.payload, fc: 5, quantity: 1\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "762ef4d95887673c"
            ]
        ]
    },
    {
        "id": "54190ad994db7851",
        "type": "http in",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "",
        "url": "/api/set-state/:deviceId",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1040,
        "wires": [
            [
                "912ffc3a037d746c"
            ]
        ]
    },
    {
        "id": "f6dc65181c21674e",
        "type": "link in",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "link in 1",
        "links": [
            "912ffc3a037d746c"
        ],
        "x": 75,
        "y": 380,
        "wires": [
            [
                "a59a21eb6b6471bc"
            ]
        ]
    },
    {
        "id": "912ffc3a037d746c",
        "type": "link out",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f6dc65181c21674e"
        ],
        "x": 345,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c30487f20a1f7fc4",
        "type": "link out",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "4bd9a2b7d2c29a19"
        ],
        "x": 825,
        "y": 380,
        "wires": []
    },
    {
        "id": "b9800d78b27085a5",
        "type": "http response",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "http-set-state-response",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4bd9a2b7d2c29a19",
        "type": "link in",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "link in 2",
        "links": [
            "c30487f20a1f7fc4"
        ],
        "x": 415,
        "y": 1040,
        "wires": [
            [
                "6af9f793cbe7d0bf"
            ]
        ]
    },
    {
        "id": "762ef4d95887673c",
        "type": "modbus-flex-write",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "e8c1afd9a301aa03",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "c30487f20a1f7fc4"
            ],
            []
        ]
    },
    {
        "id": "6af9f793cbe7d0bf",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "getState",
        "func": "\nmsg.res = flow.get(\"res\");\n\nmsg.payload = {\n    status: \"ok\",\n    values: msg.payload.value\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1040,
        "wires": [
            [
                "b9800d78b27085a5"
            ]
        ]
    },
    {
        "id": "03e587130931a889",
        "type": "inject",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "setInterval10sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "2db1e19264fd6a1a"
            ]
        ]
    },
    {
        "id": "2db1e19264fd6a1a",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "switchDeviceConnection",
        "func": "const { Op } = global.get('sequelize');\nconst { FlowDataModel, DeviceDataModel } = global.get(\"db\");\nconst flowUid = node.path.split('/').find(_=> true);\n\nconst devices = await DeviceDataModel.findAll({\n    attributes: ['id', 'settings'],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        }\n    }]\n});\n\nlet deviceIndex = flow.get(\"deviceIndex\") || 0;\n\nif (deviceIndex >= devices.length) {\n    deviceIndex = 0;\n};\n\n\nconst device = devices[deviceIndex];\n\nif (device) {\n    msg.payload = {\n        connectorType: 'TCP',\n        tcpHost: device.settings.ip,\n        tcpPort: device.settings.port,\n        unitId: 1,\n    };\n    msg.deviceId = device.id;\n\n\n    flow.set(\"deviceIndex\", deviceIndex + 1);\n    flow.set(\"deviceId\", device.id);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "b0025aba6923fd52"
            ]
        ]
    },
    {
        "id": "f641c61327d806f0",
        "type": "modbus-flex-getter",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "e8c1afd9a301aa03",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "bfb3e9ec73ddd77c"
            ],
            [
                "bfe62a470c64a909"
            ]
        ]
    },
    {
        "id": "bfb3e9ec73ddd77c",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "collectDeviceState",
        "func": "\nconst deviceId = flow.get(\"deviceId\");\n\nif (!deviceId) {\n    return;\n}\n\nlet state = flow.get(`state${deviceId}`);\n\nconst updateState = (params) => {\n    params.forEach((p, i) => {\n        const v = {};\n        v[p] = msg.payload[i];\n        state = { ...state, ...v };\n    });\n}\n\nif (msg.topic) {\n    const params = flow.get(`${msg.topic}Params`);\n    updateState(params);\n}\nflow.set(`state${deviceId}`, state);\n\nreturn state;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 300,
        "wires": [
            [
                "810cdb0a6cb7cff6"
            ]
        ]
    },
    {
        "id": "443b413283d10c89",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "b74b1a6d538c13c2",
        "name": "postDeviceState",
        "func": "const { Op } = global.get('sequelize');\nconst { FlowDataModel, DeviceDataModel, DeviceStateDataModel } = global.get(\"db\");\nconst flowUid = node.path.split('/').find(_ => true);\n\nconst devices = await DeviceDataModel.findAll({\n    attributes: ['id'],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        }\n    }]\n});\n\n\ndevices.forEach(async (d) => {\n    const state = flow.get(`state${d.id}`);\n\n    await DeviceStateDataModel.create({\n        deviceId: d.id,\n        state: JSON.stringify(state)\n    });\n});\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "abf540bef0e1bad8",
        "type": "inject",
        "z": "a7c135e772de0725",
        "g": "b74b1a6d538c13c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "443b413283d10c89"
            ]
        ]
    },
    {
        "id": "810cdb0a6cb7cff6",
        "type": "debug",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "b0025aba6923fd52",
        "type": "modbus-flex-connector",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "",
        "maxReconnectsPerMinute": 4,
        "emptyQueue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "server": "e8c1afd9a301aa03",
        "emptyMsgOnFail": true,
        "configMsgOnChange": false,
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "30f6276f9e368846",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "switchReadingRegisters",
        "func": "\nconst registers = [\n    { name: \"coils\", address: 0, fc: 1, quantity: 13 },\n    { name: \"holdings\", address: 0, fc: 3, quantity: 2 },\n];\n\nlet registerIndex = flow.get(\"registerIndex\") || 0;\n\nif (registerIndex >= registers.length) {\n    registerIndex = 0;\n}\n\nconst register = registers[registerIndex];\n\nmsg.payload = {\n    fc: register.fc,\n    address: register.address,\n    quantity: register.quantity,\n};\n\nmsg.topic = register.name;\n\nflow.set(\"registerIndex\", registerIndex + 1);\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "f641c61327d806f0"
            ]
        ]
    },
    {
        "id": "04a22057bd75906f",
        "type": "inject",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "setInterval2sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "30f6276f9e368846"
            ]
        ]
    },
    {
        "id": "3a29c46091b22441",
        "type": "websocket out",
        "z": "a7c135e772de0725",
        "g": "7f7a985047e86ceb",
        "name": "",
        "server": "01aaea51ef13314e",
        "client": "",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "6b9c30909788b5bf",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "7f7a985047e86ceb",
        "name": "sendDeviceState",
        "func": "const deviceIndex = flow.get(\"deviceIndex\") || 0;\nconst deviceId = flow.get(\"deviceId\");\nconst state = flow.get(`state${deviceIndex}`);\n\nmsg.payload = {\n    type: \"state\",\n    timestamp: new Date().toISOString(),\n    deviceId: deviceId,\n    value: state,\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 640,
        "wires": [
            [
                "3a29c46091b22441"
            ]
        ]
    },
    {
        "id": "4d65ff37e6d2771a",
        "type": "inject",
        "z": "a7c135e772de0725",
        "g": "7f7a985047e86ceb",
        "name": "setInterval5sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 95,
        "y": 640,
        "wires": [
            [
                "6b9c30909788b5bf"
            ]
        ],
        "l": false
    },
    {
        "id": "323402e3df4b64bc",
        "type": "http in",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "",
        "url": "/api/get-devices",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1120,
        "wires": [
            [
                "5cb3165ea305cfd7"
            ]
        ]
    },
    {
        "id": "5cb3165ea305cfd7",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "getDevices",
        "func": "const { Op } = global.get('sequelize');\nconst { DeviceDataModel, FlowDataModel } = global.get(\"db\");\nconst flowUid = node.path.split('/').find(_=> true);\n\nconst devices = await DeviceDataModel.findAll({\n    attributes: ['id', 'name'],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        }\n    }]\n});\n\nmsg.payload = { values: devices };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1120,
        "wires": [
            [
                "8a71ccaa19f8d878"
            ]
        ]
    },
    {
        "id": "8a71ccaa19f8d878",
        "type": "http response",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "http-get-devices-response",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 1120,
        "wires": []
    },
    {
        "id": "bfe62a470c64a909",
        "type": "debug",
        "z": "a7c135e772de0725",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 120,
        "wires": []
    }
]