flow-space/flows.json
[
    {
        "id": "2dca6eed12b296f5",
        "type": "tab",
        "label": "eta-flow-dispatcher",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7c135e772de0725",
        "type": "tab",
        "label": "eta-sewage-pump-monitor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3824f75aea35a698",
        "type": "group",
        "z": "a7c135e772de0725",
        "name": "web-api",
        "style": {
            "label": true
        },
        "nodes": [
            "54190ad994db7851",
            "912ffc3a037d746c",
            "b9800d78b27085a5",
            "4bd9a2b7d2c29a19",
            "6af9f793cbe7d0bf"
        ],
        "x": 34,
        "y": 599,
        "w": 812,
        "h": 82
    },
    {
        "id": "32c193548f01777e",
        "type": "group",
        "z": "a7c135e772de0725",
        "name": "activator",
        "style": {
            "label": true
        },
        "nodes": [
            "3254130808eb2f14",
            "a01bf9c6243144ca"
        ],
        "x": 34,
        "y": 19,
        "w": 452,
        "h": 82
    },
    {
        "id": "ebdda297932f3f07",
        "type": "group",
        "z": "a7c135e772de0725",
        "name": "remote-device-mediator",
        "style": {
            "label": true
        },
        "nodes": [
            "a59a21eb6b6471bc",
            "f6dc65181c21674e",
            "c30487f20a1f7fc4",
            "762ef4d95887673c",
            "03e587130931a889",
            "2db1e19264fd6a1a",
            "f641c61327d806f0",
            "bfb3e9ec73ddd77c",
            "b0025aba6923fd52",
            "30f6276f9e368846",
            "04a22057bd75906f"
        ],
        "x": 34,
        "y": 179,
        "w": 952,
        "h": 242
    },
    {
        "id": "7f7a985047e86ceb",
        "type": "group",
        "z": "a7c135e772de0725",
        "name": "realtime-ui-communicator",
        "style": {
            "label": true
        },
        "nodes": [
            "3a29c46091b22441",
            "6b9c30909788b5bf",
            "4d65ff37e6d2771a"
        ],
        "x": 34,
        "y": 459,
        "w": 622,
        "h": 82
    },
    {
        "id": "41c82c569adc9a0c",
        "type": "group",
        "z": "2dca6eed12b296f5",
        "g": "cbcfb9f537c21426",
        "name": "api",
        "style": {
            "fill": "none",
            "label": true
        },
        "nodes": [
            "323402e3df4b64bc",
            "5cb3165ea305cfd7",
            "8a71ccaa19f8d878",
            "74479dcb06e8145c",
            "be8e1b2521c879ee",
            "e207d1a66a7650b9",
            "f89e2f3dce998039",
            "197bb63a4e854458",
            "d246a8475b5673ea",
            "d995a6e870520226",
            "82bde83f79f43412",
            "87a20acffb88c509",
            "a2eba094e5646ec9",
            "887420d8a5fb0d1d",
            "fafd204ba26a1f01"
        ],
        "x": 54,
        "y": 239,
        "w": 1012,
        "h": 322
    },
    {
        "id": "d4fc72a987396215",
        "type": "group",
        "z": "2dca6eed12b296f5",
        "g": "cbcfb9f537c21426",
        "name": "auth",
        "style": {
            "label": true,
            "fill": "none"
        },
        "nodes": [
            "cc420d657eea3b6f",
            "7fedb0406dc884b3",
            "281282e423102908",
            "ae53f3a719dc646f",
            "93590fb695220b2f",
            "0c78d8dd9d12fd1e"
        ],
        "x": 54,
        "y": 59,
        "w": 852,
        "h": 142
    },
    {
        "id": "b74b1a6d538c13c2",
        "type": "group",
        "z": "2dca6eed12b296f5",
        "name": "persistent-storage",
        "style": {
            "label": true
        },
        "nodes": [
            "443b413283d10c89",
            "abf540bef0e1bad8"
        ],
        "x": 34,
        "y": 659,
        "w": 632,
        "h": 82
    },
    {
        "id": "cbcfb9f537c21426",
        "type": "group",
        "z": "2dca6eed12b296f5",
        "name": "web",
        "style": {
            "label": true
        },
        "nodes": [
            "41c82c569adc9a0c",
            "d4fc72a987396215"
        ],
        "x": 28,
        "y": 33,
        "w": 1064,
        "h": 554
    },
    {
        "id": "e8c1afd9a301aa03",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.200",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "01aaea51ef13314e",
        "type": "websocket-listener",
        "path": "ws/a7c135e772de0725",
        "wholemsg": "false"
    },
    {
        "id": "cc420d657eea3b6f",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "",
        "url": "/sign-in",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "7fedb0406dc884b3"
            ]
        ]
    },
    {
        "id": "7fedb0406dc884b3",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "sign-in",
        "func": "const [jwt, { createHash }, { UserDataModel }, { HttpStatusCodes }] = global.get(['jsonwebtoken', 'crypto', 'orm', 'app-consts']);\nconst { login, password } = msg.payload;\n\nconst hashedPassword = createHash('sha256').update(password).digest('base64');\n\nconst user = await UserDataModel.findOne({\n    where: {\n        name: login,\n        password: hashedPassword\n    }\n});\n\nif (!user) {\n    msg.statusCode = HttpStatusCodes.Unauthorized;\n    msg.payload = { error: 'The user wasn\\'t found or the password was wrong.' }\n\n    return msg;\n}\n\nconst JWT_SECRET = env.get('JWT_SECRET');\nif (!JWT_SECRET) {\n    msg.statusCode = HttpStatusCodes.Forbiden;\n    msg.payload = { error: 'JWT_SECRET wasn\\'t found.' }\n\n    return msg;\n}\n\nconst token = jwt.sign(\n    { userId: user.id, roleId: user.roleId },\n    JWT_SECRET,\n    { expiresIn: '24h' }\n);\n\nmsg.statusCode = HttpStatusCodes.OK;\nmsg.payload = {\n    token,\n    login: user.name,\n    role: user.roleId\n    \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "281282e423102908"
            ]
        ]
    },
    {
        "id": "281282e423102908",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "http-sign-in-response",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "323402e3df4b64bc",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/devices",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "5cb3165ea305cfd7"
            ]
        ]
    },
    {
        "id": "5cb3165ea305cfd7",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-devices",
        "func": "const { DeviceDataModel, FlowDataModel, UserDeviceLinkDataModel } = global.get('orm');\n\nconst { userId } = msg.req.user; \n\nconst devices = await DeviceDataModel.findAll({\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [\"uid\"],\n    }, {\n        model: UserDeviceLinkDataModel,\n        as: 'userDeviceLinks',\n        where: {\n            userId: userId\n        },\n        attributes: [],\n    }]\n});\n\nmsg.payload = { values: devices };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "8a71ccaa19f8d878"
            ]
        ]
    },
    {
        "id": "8a71ccaa19f8d878",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-devices-response",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "74479dcb06e8145c",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/states/device/:deviceId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "be8e1b2521c879ee"
            ]
        ]
    },
    {
        "id": "be8e1b2521c879ee",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-device-state",
        "func": "const { userId } = msg.req.user;\nconst deviceId = parseInt(msg.req.params.deviceId);\nconst [{ UserDeviceLinkDataModel }, { HttpStatusCodes }] = global.get(['orm', 'app-consts']);\n\nconst userDeviceLink = await UserDeviceLinkDataModel.findOne({\n    where: {\n        userId,\n        deviceId\n    }\n});\n\nif (!userDeviceLink) {\n    msg.statusCode = HttpStatusCodes.Forbiden;\n    msg.payload = { error: `The requested device doesn\\'t belong to user with ID ${userId}` }\n\n    return msg;\n}\n\nconst state = global.get(`state${deviceId}`);\nif (!state) {\n    msg.statusCode = HttpStatusCodes.InternalServerError;\n    msg.payload = { error: `The device state for the device with ID: ${deviceId} was'n found` }\n\n    return msg;\n}\n\nmsg.payload = { values: state };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "e207d1a66a7650b9"
            ]
        ]
    },
    {
        "id": "e207d1a66a7650b9",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-device-state-response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "f89e2f3dce998039",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/states/device/:deviceId/dates",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "197bb63a4e854458"
            ]
        ]
    },
    {
        "id": "197bb63a4e854458",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-device-states-by-dates",
        "func": "const [{ Op }, { UserDeviceLinkDataModel, DeviceStateDataModel }, { HttpStatusCodes }] = global.get(['sequelize', 'orm', 'app-consts']);\nconst { userId } = msg.req.user;\n\nconst beginDateStr = msg.req.query.beginDate;\nconst endDateStr = msg.req.query.endDate;\nconst deviceId = parseInt(msg.req.params.deviceId);\n\nconst userDeviceLink = await UserDeviceLinkDataModel.findOne({\n    where: {\n        userId,\n        deviceId\n    }\n});\n\nif (!userDeviceLink) {\n    msg.statusCode = HttpStatusCodes.Forbiden;\n    msg.payload = { error: `The requested device doesn\\'t belong to user with ID ${userId}` }\n\n    return msg;\n}\n\n\nconst beginDate = new Date(beginDateStr);\nconst endDate = new Date(endDateStr);\n\nconst states = await DeviceStateDataModel.findAll({\n    where: {\n        deviceId: deviceId,\n        createdAt: {\n            [Op.between]: [beginDate, endDate]\n        },\n    },\n});\n\n\nmsg.payload = { values: states };\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "d246a8475b5673ea"
            ]
        ]
    },
    {
        "id": "d246a8475b5673ea",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-device-states-by-dates-response",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "443b413283d10c89",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "b74b1a6d538c13c2",
        "name": "post-device-state-to-database",
        "func": "const [{ Op }, { DeviceDataModel, DeviceStateDataModel, sequelize }] = global.get(['sequelize', 'orm']);\nconst { differenceInMinutes, formatDistance } = global.get('date-fns');\n\nconst devices = await DeviceDataModel.findAll({\n    attributes: ['id', 'updateStateInterval', 'lastStateUpdate'],\n});\n\n\ndevices.forEach(async (d) => {\n    const now = new Date();\n    if (!d.lastStateUpdate || differenceInMinutes(now, d.lastStateUpdate) >= d.updateStateInterval) {\n        const deviceState = global.get(`deviceState${d.id}`);\n\n        if (deviceState) {\n            try {\n                await sequelize.transaction(async t => {\n                    await DeviceStateDataModel.create(\n                        {\n                            deviceId: d.id,\n                            state: JSON.stringify(deviceState)\n                        },\n                        { transaction: t }\n                    );\n\n                    await DeviceDataModel.update(\n                        { lastStateUpdate: now },\n                        {\n                            where: {\n                                id: d.id,\n                            },\n                        },\n                        { transaction: t }\n                    );\n                });\n            } catch (error) {\n                console.log(`The device state update transaction failed due to the error: ${error}`);\n            }\n        }\n    }\n});\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "abf540bef0e1bad8",
        "type": "inject",
        "z": "2dca6eed12b296f5",
        "g": "b74b1a6d538c13c2",
        "name": "set-interval-1min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "443b413283d10c89"
            ]
        ]
    },
    {
        "id": "d995a6e870520226",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/mnemoschemas/device/:deviceId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "82bde83f79f43412"
            ]
        ]
    },
    {
        "id": "82bde83f79f43412",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-device-mnemoschema",
        "func": "const [{ promises: fs }, path] = global.get(['fs', 'path']);\nconst [{ UserDeviceLinkDataModel, DeviceDataModel, FlowDataModel }, { HttpStatusCodes }]\n    = global.get(['orm', 'app-consts']);\n\nconst { userId } = msg.req.user;\nconst deviceId = parseInt(msg.req.params.deviceId);\n\nconst userDeviceLink = await UserDeviceLinkDataModel.findOne({\n    where: {\n        userId,\n        deviceId\n    }\n});\n\nif (!userDeviceLink) {\n    msg.statusCode = HttpStatusCodes.Forbiden;\n    msg.payload = { error: `The requested device doesn\\'t belong to user with ID ${userId}` }\n\n    return msg;\n}\n\nconst mnemoschemasPath = path.join('/data/static', 'mnemoschemas');\nconst files = await fs.readdir(mnemoschemasPath);\nconst device = await DeviceDataModel.findOne({\n    attributes: [\"id\"],\n    where: {\n        id: deviceId,\n    },\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [\"uid\"],\n    }],\n});\n\n\nconst mnemoschemaPathInfo = files.map(file => {\n    const fileNameWithoutExt = path.basename(file, path.extname(file));\n    const flowUid = fileNameWithoutExt.split('-').pop();\n\n    return {\n        file,\n        flowUid\n    };\n}).find(f => f.flowUid === device.flow.uid);\n\nif (!mnemoschemaPathInfo) {\n    msg.statusCode = HttpStatusCodes.NotFound;\n    msg.payload = { error: `The mnemoschema wasn't found for the device with ID ${deviceId}` }\n\n    return msg;\n}\n\nconsole.log(mnemoschemaPathInfo);\n\nlet mnemoschemaSvgContent;\ntry {\n    mnemoschemaSvgContent = await fs.readFile(path.join(mnemoschemasPath, mnemoschemaPathInfo.file), 'utf8');\n} catch (error) {\n    msg.statusCode = HttpStatusCodes.InternalServerError;\n    msg.payload = { error }\n\n    return msg;\n}\n\nmsg.headers = {\n    'Content-Type': 'image/svg+xml'\n};\nmsg.payload = mnemoschemaSvgContent;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 520,
        "wires": [
            [
                "87a20acffb88c509"
            ]
        ]
    },
    {
        "id": "87a20acffb88c509",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-device-mnemoschema-response",
        "statusCode": "",
        "headers": {},
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "ae53f3a719dc646f",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "",
        "url": "/health-check",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "93590fb695220b2f"
            ]
        ]
    },
    {
        "id": "93590fb695220b2f",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "/health-check",
        "func": "const [{ HttpStatusCodes }] = global.get(['app-consts']);\n\nmsg.statusCode = HttpStatusCodes.OK;\nmsg.payload = {\n    message: 'The user is authenticated.'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "0c78d8dd9d12fd1e"
            ]
        ]
    },
    {
        "id": "0c78d8dd9d12fd1e",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "http-health-check-response",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "a2eba094e5646ec9",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/flows",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "887420d8a5fb0d1d"
            ]
        ]
    },
    {
        "id": "887420d8a5fb0d1d",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-flows",
        "func": "const { DeviceDataModel, FlowDataModel, UserDeviceLinkDataModel } = global.get('orm');\n\nconst { userId } = msg.req.user;\n\nconst flows = await FlowDataModel.findAll({\n    attributes: ['id', 'code', 'name', 'description', 'uid'],\n    include: [{\n        model: DeviceDataModel,\n        as: 'devices',\n        include: [\n            {\n                model: UserDeviceLinkDataModel,\n                as: 'userDeviceLinks',\n                where: {\n                    userId: userId\n                },\n                attributes: [],\n            }\n        ]\n    },]\n});\n\nmsg.payload = { values: flows };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "fafd204ba26a1f01"
            ]
        ]
    },
    {
        "id": "fafd204ba26a1f01",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-flows-response",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "3254130808eb2f14",
        "type": "inject",
        "z": "a7c135e772de0725",
        "g": "32c193548f01777e",
        "name": "on-init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.01",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "a01bf9c6243144ca"
            ]
        ]
    },
    {
        "id": "a01bf9c6243144ca",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "32c193548f01777e",
        "name": "init-device-states",
        "func": "const [{ Op }, { FlowDataModel, DeviceDataModel } ] = global.get(['sequelize', 'orm']);\nconst flowUid = node.path.split('/').find(_=> true);\n\nconst params = [\n    [\n        \"startStop\", \"lowLevel\", \"midLevel\",\n        \"hiLevel\", \"emergencyLevel\", \"statePump1\",\n        \"statePump2\", \"resetFaultPump1\", \"resetFaultPump2\",\n        \"resetOperatingTimePump1\", \"resetOperatingTimePump2\",\n        \"faultPump1\", \"faultPump2\"\n    ],\n    [\n        \"timePump1\",\n        \"timePump2\"\n    ]\n];\nconst initialState = {};\n\nflow.set([\"coilsParams\", \"holdingsParams\"], params);\n\n\nconst devices = await DeviceDataModel.findAll({\n    attributes: ['id'],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        }\n    }]\n});\n\ndevices.forEach(d => {\n    params.forEach(params => {\n        params.forEach((p, i) => {\n            initialState[p] = undefined;\n        });\n    });\n    \n    global.set(`deviceState${d.id}`, initialState);\n});\n\nmsg.payload = { message: \"OnInit was completed.\" }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a59a21eb6b6471bc",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "build-state-payload",
        "func": "\nflow.set(\"res\", msg.res);\n\nmsg.payload = {\n    ...msg.payload, fc: 5, quantity: 1\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "762ef4d95887673c"
            ]
        ]
    },
    {
        "id": "54190ad994db7851",
        "type": "http in",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "",
        "url": "/api/set-state/:deviceId",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "912ffc3a037d746c"
            ]
        ]
    },
    {
        "id": "f6dc65181c21674e",
        "type": "link in",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "link in 1",
        "links": [
            "912ffc3a037d746c"
        ],
        "x": 75,
        "y": 380,
        "wires": [
            [
                "a59a21eb6b6471bc"
            ]
        ]
    },
    {
        "id": "912ffc3a037d746c",
        "type": "link out",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f6dc65181c21674e"
        ],
        "x": 345,
        "y": 640,
        "wires": []
    },
    {
        "id": "c30487f20a1f7fc4",
        "type": "link out",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "4bd9a2b7d2c29a19"
        ],
        "x": 835,
        "y": 380,
        "wires": []
    },
    {
        "id": "b9800d78b27085a5",
        "type": "http response",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "http-set-state-response",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "4bd9a2b7d2c29a19",
        "type": "link in",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "link in 2",
        "links": [
            "c30487f20a1f7fc4"
        ],
        "x": 415,
        "y": 640,
        "wires": [
            [
                "6af9f793cbe7d0bf"
            ]
        ]
    },
    {
        "id": "762ef4d95887673c",
        "type": "modbus-flex-write",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "e8c1afd9a301aa03",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "c30487f20a1f7fc4"
            ],
            []
        ]
    },
    {
        "id": "6af9f793cbe7d0bf",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "3824f75aea35a698",
        "name": "get-state",
        "func": "\nmsg.res = flow.get(\"res\");\n\nmsg.payload = {\n    status: \"ok\",\n    values: msg.payload.value\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 640,
        "wires": [
            [
                "b9800d78b27085a5"
            ]
        ]
    },
    {
        "id": "03e587130931a889",
        "type": "inject",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "set-interval-10sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "2db1e19264fd6a1a"
            ]
        ]
    },
    {
        "id": "2db1e19264fd6a1a",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "switch-device-connection",
        "func": "const [{ Op }, { FlowDataModel, DeviceDataModel }] = global.get(['sequelize', 'orm']);\nconst flowUid = node.path.split('/').find(_=> true);\n\nconst devices = await DeviceDataModel.findAll({\n    attributes: ['id', 'settings'],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        }\n    }]\n});\n\nlet deviceIndex = flow.get(\"deviceIndex\") || 0;\n\nif (deviceIndex >= devices.length) {\n    deviceIndex = 0;\n};\n\n\nconst device = devices[deviceIndex];\n\nif (device) {\n    msg.payload = {\n        connectorType: 'TCP',\n        tcpHost: device.settings.ip,\n        tcpPort: device.settings.port,\n        unitId: 1,\n    };\n    msg.deviceId = device.id;\n\n\n    flow.set(\"deviceIndex\", deviceIndex + 1);\n    flow.set(\"deviceId\", device.id);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "b0025aba6923fd52"
            ]
        ]
    },
    {
        "id": "f641c61327d806f0",
        "type": "modbus-flex-getter",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "e8c1afd9a301aa03",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "bfb3e9ec73ddd77c"
            ],
            []
        ]
    },
    {
        "id": "bfb3e9ec73ddd77c",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "collect-device-state",
        "func": "\nconst deviceId = flow.get(\"deviceId\");\n\nif (!deviceId) {\n    return;\n}\n\nlet deviceState = global.get(`deviceState${deviceId}`);\n\nconst updateState = (params) => {\n    params.forEach((p, i) => {\n        const v = {};\n        v[p] = msg.payload[i];\n        deviceState = { ...deviceState, ...v };\n    });\n}\n\nif (msg.topic) {\n    const params = flow.get(`${msg.topic}Params`);\n    updateState(params);\n}\nglobal.set(`deviceState${deviceId}`, deviceState);\n\nreturn deviceState;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b0025aba6923fd52",
        "type": "modbus-flex-connector",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "",
        "maxReconnectsPerMinute": 4,
        "emptyQueue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "server": "e8c1afd9a301aa03",
        "emptyMsgOnFail": true,
        "configMsgOnChange": false,
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "30f6276f9e368846",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "switch-reading-registers",
        "func": "\nconst registers = [\n    { name: \"coils\", address: 0, fc: 1, quantity: 13 },\n    { name: \"holdings\", address: 0, fc: 3, quantity: 2 },\n];\n\nlet registerIndex = flow.get(\"registerIndex\") || 0;\n\nif (registerIndex >= registers.length) {\n    registerIndex = 0;\n}\n\nconst register = registers[registerIndex];\n\nmsg.payload = {\n    fc: register.fc,\n    address: register.address,\n    quantity: register.quantity,\n};\n\nmsg.topic = register.name;\n\nflow.set(\"registerIndex\", registerIndex + 1);\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "f641c61327d806f0"
            ]
        ]
    },
    {
        "id": "04a22057bd75906f",
        "type": "inject",
        "z": "a7c135e772de0725",
        "g": "ebdda297932f3f07",
        "name": "set-interval-2sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "30f6276f9e368846"
            ]
        ]
    },
    {
        "id": "3a29c46091b22441",
        "type": "websocket out",
        "z": "a7c135e772de0725",
        "g": "7f7a985047e86ceb",
        "name": "",
        "server": "01aaea51ef13314e",
        "client": "",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "6b9c30909788b5bf",
        "type": "function",
        "z": "a7c135e772de0725",
        "g": "7f7a985047e86ceb",
        "name": "send-device-state",
        "func": "const deviceIndex = flow.get(\"deviceIndex\") || 0;\nconst deviceId = flow.get(\"deviceId\");\nconst deviceState = global.get(`deviceState${deviceIndex}`);\n\nmsg.payload = {\n    type: \"state\",\n    timestamp: new Date().toISOString(),\n    deviceId: deviceId,\n    value: deviceState,\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 500,
        "wires": [
            [
                "3a29c46091b22441"
            ]
        ]
    },
    {
        "id": "4d65ff37e6d2771a",
        "type": "inject",
        "z": "a7c135e772de0725",
        "g": "7f7a985047e86ceb",
        "name": "setInterval5sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 95,
        "y": 500,
        "wires": [
            [
                "6b9c30909788b5bf"
            ]
        ],
        "l": false
    }
]